
a{
  color:#ffffff;
}
.btn{color:#ffffff;}
/*
.img-fluid {
  max-width: 80%;
  max-height: 80%;
}
.text-right {
  position: absolute;
bottom: 0px;
right: 16px;
}
*/

#bootstrap-overrides h1{
  position:relative;
  top:0;
  left:0;
  width:0px;
  height:0px;
  z-index:0;
}
button{
z-index:;}
body{font-family: 'Asul', sans-serif;
  background-color: #064870;}
  .footercolor{
    background-color: #ffffff;
  }
