extends layout

block content
  h3=title
  form#form_add_student(name="addteacher", method="post",action="
  /addteacher")

    span name
    span &nbsp;
    input#input_name(type="text", placeholder="teacher", name="student")
